:root {
  --color-btn-shadow: #00000025;
  --color-btn-font: #777;
}

.image-container {
  position: relative;
  margin-bottom: 2rem;
  flex-grow: 1;
}

@media screen and (min-width: 768px) {
  .image-container {
    margin-bottom: 0;
    margin-right: 2rem;
    max-width: 30%;
  }
}

.image {
  background: var(--color-accent);
  border-radius: 100%;
  height: 15rem;
  width: 15rem;
  object-fit: cover;
  padding: 1rem;
  display: block;
  margin: auto;
}

#image-change {
  display: none;
}

.btn__image-change {
  background: var(--color-accent);
  color: var(--color-btn-font);
  padding: 0.4rem;
  margin: 1rem auto;
  max-width: 15rem;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem var(--color-btn-shadow);
  cursor: pointer;
}
