:root {
  --color-tooltip-bg: #ccc;
}

.image__tooltip {
  position: absolute;
  left: 100%;
  bottom: 0;
  width: 12rem;
  text-align: center;
  margin-left: 1rem;
  background: var(--color-tooltip-bg);
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  padding: 0 0.5rem;
}

@media screen and (min-width: 768px) {
  .image__tooltip {
    left: 4rem;
    bottom: -4rem;
  }
}
