.slider {
  width: 90%;
  max-width: 60rem;
  background: var(--color-accent);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.slider__options {
  display: flex;
}

.slider__option {
  width: 33.33%;
  font-size: 2rem;
  font-weight: 500;
  padding: 1rem;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
}

.slider__border {
  width: 33.33%;
  border-bottom: 0.5rem solid var(--color-primary);
  border-radius: 0.3rem;
  transform: translateX(0);
  transition: all 0.3s;
}

.slider__border--middle {
  transform: translateX(100%);
}

.slider__border--right {
  transform: translateX(200%);
}
