:root {
  --color-chat-shadow: #11111133;
}

.chat__header {
  display: flex;
  align-items: center;
  padding: 1rem;
  height: 7rem;
  box-shadow: 0 0 2rem var(--color-chat-shadow);
}

.chat__icon {
  margin-right: 0.8rem;
  color: var(--color-primary);
  cursor: pointer;
}

.chat__search__icon,
.chat__attach__icon {
  display: none;
}

@media screen and (min-width: 768px) {
  .chat__profile__image,
  .chat__icon {
    margin-right: 2rem;
  }

  .chat__search__icon,
  .chat__attach__icon {
    display: inline-block;
  }
}
